.navbar {
    width: 100%;
    height: 70px;
    background-color: #de4c27;
    position: relative;
}

.sidebar {
    top: 0;
    left: 0;
    width: 15rem;
    height: 46rem;
    background-color: #d481c6;
    position: fixed;
    z-index: -10;
}

@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

.content {
    margin-top: 2rem;
}

.video iframe {
    border-radius: 25px;
    width: 300px;
    position: absolute;
    top: 9rem;
    left: 41rem;
}

@media screen and (max-width: 500px) {
    .video iframe {
        left: 2rem;
    }
}


.name-group {
    position: absolute;
    top: 35rem;
    left: 41.5rem;
}
@media screen and (max-width: 600px) {
    .name-group {
        left: 40px;
    }
}

.name-group img {
    width: 40px;
    border-radius: 20px;
}

.name-group button {
    border: 0;
    background-color: white;
    border-radius: 20px;
}

.name-group span {
    color: white;
}

.name-group div {
    color: white;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    margin-left: 68%;
    margin-top: 7rem;
}
@media screen and (max-width: 500px) {
    .icons {
        left: 2rem;
    }
}

.icons a {
    background-color: #f2f2f2;
    color: #0f0f0f;
    padding: 20px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.icons button {
    border: 0;
    background-color: white;
}


.icons button img {
    width: 40px;
    border-radius: 10px;
}


.content-2 {
    margin-top: 43rem;
}

.video-2 iframe{
    border-radius: 25px;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50rem;
    left: 41rem;
}

.name-group-2 {
    position: absolute;
    top: 74.8rem;
    left: 41.5rem;
}
@media screen and (max-width: 600px) {
    .name-group-2 {
        left: 40px;
    }
}

.name-group-2 img {
    width: 40px;
    border-radius: 20px;
}

.name-group-2 button {
    border: 0;
    background-color: white;
    border-radius: 20px;
}

.name-group-2 span {
    color: white;
}

.name-group-2 div {
    color: white;
}

.icons-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    margin-left: 68%;
    margin-top: 5rem;
}

.icons-2 a {
    background-color: #f2f2f2;
    color: #0f0f0f;
    padding: 20px;
    width: 60px;
    height: 60px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


.icons-2 button {
    border: 0;
    background-color: white;
}


.icons-2 button img {
    width: 40px;
    border-radius: 10px;
}