@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
header {
  background-color: #fff;
  z-index: 100;
}
.menu {
  z-index: 100;
  top: 5px;
  left: 24px;
  border: none !important;
}
.side-bar {
  z-index: 1;
}

#chk1 {
  display: none;
}
i {
  color: #000;
  cursor: pointer;
}

@media (min-width: 768px) {
  header .side-bar {
    position: fixed;
    top: 30px;
    overflow-y: scroll;

    height: calc(100vh - 100px);
    width: 20%;
    flex-direction: column;
    align-items: start;
    transition: right 0.5s linear;
  }
  .side-bar::-webkit-scrollbar {
    color: #fff;
    width: 8px;
  }

  .side-bar:hover::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
  }
}

#chk1:checked ~ .side-bar {
  left: -300px;
}

.btn {
  width: 200px;
  text-align: start;
  font-size: 14px;
}
.btn a {
  color: #1a252f;
}

.btn:hover {
  background-color: #f2f2f2;
}

.house {
  font-size: 22px;
}

a img {
  width: 22px;
}

.btn .watch-2 {
  width: 28px;
}
.thumbs {
  font-size: 22px;
  color: #4d4d4d;
}

.moreytms {
  width: 20px;
  height: 20px;
}

.footer a {
  color: #4d4d4d;
  font-size: 12px;
}
.footer .copy {
  font-size: 12px;
}
a {
  text-decoration: none;
  color: black;
}

.btnrespons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 80px;
}

.btnrespons .bi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.btnrespons img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}

.btnrespons .content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  align-items: center;
}

.btnrespons:hover {
  background-color: rgb(215, 215, 215);
  opacity: 0.8;
  color: black;
  border-radius: 5px;
}

#you {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
#shorts {
  margin-left: 5px;
}

.btnrespons .fa-solid {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.subscriptions {
  margin-left: 20px;
}
.second {
  z-index: -0;
}
